* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

.container {
    margin: 0 auto;
    max-width: 50rem;
    min-height: 100vh;

    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "slider-mems slider-mems"
        "slider-text navigaion";
    padding: 0 0.5rem 0 0.5rem;
}

input {
    appearance: none;
    display: none;
}

h1 {
    margin: 0 auto;
    text-align: center;
    grid-area: title;
    padding-bottom: 1rem;
    margin-top: 3%;
    color: rgba(241, 24, 24, 0.8);
}

#slider-mems {
    grid-area: slider-mems;
    height: 70vh;
}


#slider-text {
    grid-area: slider-text;
}

.overflow {
    width: 100%;
    overflow: hidden;
    padding-bottom: 1rem;
}

.slider {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 20%);
    width: 500%;
    transition: 0.3s;
}

.slide {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
}

.text {
    font-size: 1.8rem;
    margin-left: 0.6rem;
}

#radio1:checked~.overflow .slider {
    margin-left: 0;
}

#radio2:checked~.overflow .slider {
    margin-left: -100%;
}

#radio3:checked~.overflow .slider {
    margin-left: -200%;
}

#radio4:checked~.overflow .slider {
    margin-left: -300%;
}

#radio5:checked~.overflow .slider {
    margin-left: -400%;
}

nav {
    width: 14rem;
    justify-self: end;
    display: flex;
    grid-area: navigaion;
    padding-bottom: 1rem;
}

.button {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid rgb(212, 121, 156);
    border-radius: 1rem;
    transition: 0.3s;
}

.button:hover .btn {
    background: radial-gradient(circle, rgba(176,63,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: 0 0 0.5rem rgba(115, 57, 190, 0.8);

}

.button:active .btn {
    box-shadow: 0 0 1rem rgba(241, 24, 24, 0.8);
}

#radio1:checked~nav label:nth-child(1) .btn,
#radio2:checked~nav label:nth-child(2) .btn,
#radio3:checked~nav label:nth-child(3) .btn,
#radio4:checked~nav label:nth-child(4) .btn,
#radio5:checked~nav label:nth-child(5) .btn {
    background: radial-gradient(circle, rgb(209, 131, 190) 0%, rgb(253, 45, 73) 100%);
    border: 0.15rem solid rgb(238, 102, 227);
}

#radio1:checked~nav label:nth-child(1):hover .btn,
#radio2:checked~nav label:nth-child(2):hover .btn,
#radio3:checked~nav label:nth-child(3):hover .btn,
#radio4:checked~nav label:nth-child(4):hover .btn,
#radio5:checked~nav label:nth-child(5):hover .btn {
    background-color: rgb(190, 57, 135);
    border: 0.15rem solid rgb(190, 57, 119);

}